*, html { margin: 0; padding: 0; box-sizing: border-box; }

body { margin: auto 5%; }

.container { background-image: url(/images/backgd.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; }

.container .logo { display: flex; place-items: center; gap: 7px; margin: 0px 0px 45px 5px; padding: 20px 0px 15px 30px; font-size: 30px; color: white; text-shadow: 0px 0px 2px whitesmoke; }

.container .logo p { font-family: sans-serif; font-weight: bolder; }

.container .main-content { border: 2px solid yellow; }

.container .content { display: flex; justify-content: space-evenly; padding-bottom: 3em; }

.container .content .picture img { width: 40em; height: 30em; }

.container .content .text { width: 30em; }

.container .content .text p { font-size: 16px; color: white; opacity: .85; line-height: 22px; font-family: Arial, Helvetica, sans-serif; }

.container .content .text h1 { font-size: 2.6em; text-transform: capitalize; font-family: sans-serif; font-weight: 770; color: white; }

.container .content .text button { position: relative; top: 30px; font-size: 16px; padding: 20px; border-radius: 5em; width: 15em; outline: none; border: none; font-weight: bolder; }

.container .social-media { padding: 10px; font-size: 25px; color: white; margin-right: 0px; display: flex; justify-content: flex-end; margin: 1em; }

.container .social-media i { padding: 10px; }
